---
import { FileBraces } from "@lucide/astro";
import { LANGUAGES } from "../types";

const { id, titulo, lenguaje, codigo, tags } = Astro.props;

// ✅ Parsear tags si viene como string
let tagsArray: string[] = [];
if (Array.isArray(tags)) {
  tagsArray = tags;
} else if (typeof tags === "string") {
  try {
    tagsArray = JSON.parse(tags);
  } catch {
    tagsArray = [];
  }
}

// color del lenguaje
const color =
  LANGUAGES.find((lang) => lang.label === lenguaje)?.color || "#888888";

// tags para búsqueda
const tagsSearch = tagsArray.join(" ");
---

<a
  href={`/snippets/${id}`}
  class="block w-86 bg-codeshelf-panel rounded-xl p-5 hover:ring-1 hover:ring-codeshelf-cyan hover:scale-102 hover:shadow-codeshelf-cyan hover:shadow-[0_0_12px_rgba(0,240,255,0.8)] transition-all duration-500 snippet-card"
  data-titulo={titulo.toLowerCase()}
  data-lenguaje={lenguaje.toLowerCase()}
  data-tags={tagsSearch.toLowerCase()}
>
  <h2 class="text-white font-semibold text-lg mb-2">{titulo}</h2>

  <div class="flex items-center gap-2 mb-3">
    <FileBraces color={color} size={18} stroke-width={2} />
    <span class="text-codeshelf-muted text-sm">
      {LANGUAGES[lenguaje]?.label || lenguaje}
    </span>
  </div>

  <pre
    class="bg-background rounded-lg p-3.5 h-20 text-sm text-codeshelf-muted mb-2 overflow-hidden font-mono">
    <code>{codigo}</code>
  </pre>

  {
    tagsArray.length > 0 && (
      <div class="flex flex-wrap gap-2">
        {tagsArray.map((tag: string) => (
          <span class="bg-codeshelf-purple/10 text-codeshelf-purple text-xs px-2 py-1.5 rounded-sm font-bold">
            {tag}
          </span>
        ))}
      </div>
    )
  }
</a>
